body{
      background-image: linear-gradient(to bottom, black, rgb(33, 33, 33));
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-family: sans-serif;
      text-align: center;
      font-size: 50px
}
h2{
    color: white;
}
h1{
    color: white;
}
h3{
    color: white;
}
.aqua2{
    color: aqua;
}
.aqua{
    text-align: center;
}
.green2{
    color: rgb(27, 191, 27)
}
.green{
   text-align: center;
}

h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
.button {
      text-align: center;
}
.button2 {
      font-size: x-large;
}
